{% extends 'authapp/base.html' %}
{% load static %}


{% block container %}
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
        {{ form.as_p }}
        <br>
        <input class="form-control" type="submit" value="войти">
    </form>
    <a href="{% url 'auth:register' %}" class="btn btn-round form-control">
        зарегистрироваться
    </a>

    <a href="{% url 'social:begin' 'google-oauth2' %}?next=/"
       class="btn btn-default form-control">
        Google sign in
    </a>
    <a href="{% url 'social:begin' 'vk-oauth2' %}?next=/"
       class="btn btn-default form-control">
        VK sign in
    </a>



{% endblock %}
